In [1]:
import pandas as pd

In [2]:
path = "data/results.csv"
data = pd.read_csv(path)

In [3]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [4]:
data.shape

(45360, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45360 entries, 0 to 45359
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45360 non-null  object
 1   home_team   45360 non-null  object
 2   away_team   45360 non-null  object
 3   home_score  45360 non-null  int64
 4   away_score  45360 non-null  int64
 5   tournament  45360 non-null  object
 6   city        45360 non-null  object
 7   country     45360 non-null  object
 8   neutral     45360 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [6]:
data['home_team'].value_counts()

home_team
Brazil               600
Argentina            583
Mexico               568
Germany              534
England              530
                    ...
Aymara                 1
Western Australia      1
Sark                   1
Ticino                 1
Hmong                  1
Name: count, Length: 312, dtype: int64

In [7]:
data.loc[data['home_score'] == data['away_score'], 'result'] = 'Draw'

In [8]:
data.loc[data['home_score'] > data['away_score'], 'result'] = 'Win'

In [9]:
data.loc[data['home_score'] < data['away_score'], 'result'] = 'Lose'

In [10]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Win
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Win
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Win

In [11]:
data.duplicated().sum()

0

In [12]:
data.isnull().sum().sort_values(ascending=False)/len(data)

date          0.0
home_team     0.0
away_team     0.0
home_score    0.0
away_score    0.0
tournament    0.0
city          0.0
country       0.0
neutral       0.0
result        0.0
dtype: float64

In [13]:
data['tournament'].value_counts()

tournament
Friendly                                17786
FIFA World Cup qualification             8013
UEFA Euro qualification                  2815
African Cup of Nations qualification     2116
FIFA World Cup                            964
                                        ...
Évence Coppée Trophy                        1
FIFA 75th Anniversary Cup                   1
Real Madrid 75th Anniversary Cup            1
Copa Confraternidad                         1
The Other Final                             1
Name: count, Length: 152, dtype: int64

In [14]:
data.loc[data['tournament'] != 'Friendly', 'friendly'] = 1
data.loc[data['tournament'] == 'Friendly', 'friendly'] = 1

In [15]:
data = data.astype({'friendly':'int'})

In [17]:
data['neutral_encoded'] = pd.get_dummies(data['neutral'], drop_first=True, dtype="int64")

In [21]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result,friendly,neutral_encoded
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Draw,1,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Win,1,0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Win,1,0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw,1,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Win,1,0